<section class="hx-section scrollable-y" #container>
  <div class="hx-section is-comfortable">

    <h1 class="hx-title">Datepickers</h1>
    <h2 class="hx-subtitle">The date picker is a form element that is used to select a date</h2>
    <hr>

    <h4 id="usage">Usage</h4>
    <p>Add the DatepickerModule to AppModule or SharedModule.</p>

    <pre>
      <code highlight [code]="code.usage"></code>
    </pre>

    <hr>

    <h4 id="example">Example</h4>

    <div class="hx-columns">
      <div class="hx-column">
        <hxa-datepicker-input align="bottom" [(ngModel)]="dayte"></hxa-datepicker-input>
        <div>
          <span>Emitted Date object: {{dayte}}</span>
        </div>

      </div>
    </div>

    <br>

    <h5 id="code">Code</h5>

    <hx-tabset>
      <hx-tab heading="Template">
            <pre>
              <code highlight [code]="code.exampleTemplate"></code>
            </pre>
      </hx-tab>
      <hx-tab heading="Typescript">
            <pre>
              <code highlight [code]="code.exampleTypescript"></code>
            </pre>
      </hx-tab>
    </hx-tabset>

    <hr>

    <h4 id="api">API Reference</h4>

    <h5 class="is-primary">Datepicker-Form Component</h5>
    <div class="hx-columns">
      <div class="hx-column">
        <table class="hx-table is-striped">
          <thead>
            <tr>
              <th>Inputs</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>dateFormat</td>
              <td><kbd>string</kbd></td>
              <td>A JavaScript Date object formatting string, formats the display of components current value. Defaults to "dd/MM/y".</td>
            </tr>
            <tr>
              <td>defaultToPresentDate</td>
              <td><kbd>boolean</kbd></td>
              <td>Initializes the component with a value of the present date. Defaults to true.</td>
            </tr>
            <tr>
              <td>placeholder</td>
              <td><kbd>string</kbd></td>
              <td>This attribute specifies the placeholder value of the components input element. Defaults to "Date".</td>
            </tr>
            <tr>
              <td>disabled</td>
              <td><kbd>boolean</kbd></td>
              <td>Adds the disabled html attribute to the components input element. Defaults to false.</td>
            </tr>
            <tr>
              <td>readonly</td>
              <td><kbd>boolean</kbd></td>
              <td>Adds the readonly html attribute to the components input element. Defaults to false.</td>
            </tr>
            <tr>
              <td>required</td>
              <td><kbd>boolean</kbd></td>
              <td>Adds the required html attribute to the components input element and a required asterisk on the input label. Defaults to true.</td>
            </tr>
            <tr>
              <td>allowPreviousDates</td>
              <td><kbd>boolean</kbd></td>
              <td>Setting to false will disallow the user from selecting dates before the present date. Defaults to true.d</td>
            </tr>
            <tr>
              <td>align</td>
              <td><kbd>"top" | "bottom"</kbd></td>
              <td>Specifies to open the datepicker at the top of the input element or at the bottom</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="hx-columns">
      <div class="hx-column">
        <table class="hx-table is-striped">
          <thead>
          <tr>
            <th>Outputs</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>onDateChange</td>
            <td>Emits a Date is selected from the Datepicker or a valid date string is entered into input field</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>

<aside class="hx-sidebar is-right is-active is-medium-width is-scrollable">
  <ul class="hx-nav hx-nav-vertical">
    <li class="hx-nav-heading"><h6>Contents</h6></li>

    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#usage')"><span>Usage</span></a>
    </li>

    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#example')"><span>Examples</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#code')"><span>Code</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#api')"><span>API Reference</span></a>
    </li>

  </ul>
</aside>
