<section class="hx-section scrollable-y" #container>
  <div class="hx-section is-comfortable">

    <h1 class="hx-title">Filters</h1>
    <h2 class="hx-subtitle">A component that renders 1 or more filters</h2>
    <hr>

    <h4 id="usage">Usage</h4>
    <p>Add the FiltersModule to AppModule or SharedModule.</p>

    <pre>
      <code highlight [code]="code.usage"></code>
    </pre>

    <hr>

    <h4 id="example">Example</h4>


      <div class="hx-flex hx-flex-align-center">
          <button type="button" class="hx-button is-primary mr-1" (click)="toggleCollapsed()">Toggle collapsed state</button>
          <button type="button" class="hx-button is-primary mr-1" (click)="disableFilters()">Toggle disabled state</button>
          <button type="button" class="hx-button mr-1" (click)="resetFilters()">Reset</button>

          <div class="hx-spacer"></div>
         <hxa-filters #filterComp [collapsed]="collapsed" [filters]="filters" [customMask] = "99999999"></hxa-filters>
      </div>



    <br>

    <h5 id="code">Code</h5>

    <hx-tabset>
      <hx-tab heading="Template">
            <pre>
              <code highlight [code]="code.exampleTemplate"></code>
            </pre>
      </hx-tab>
      <hx-tab heading="Typescript">
            <pre>
              <code highlight [code]="code.exampleTypescript"></code>
            </pre>
      </hx-tab>
    </hx-tabset>

    <hr>

    <h4 id="api">API Reference</h4>

    <h5 class="is-primary">Filters Component</h5>
    <div class="hx-columns">
      <div class="hx-column">
        <table class="hx-table is-striped">
          <thead>
          <tr>
            <th>Inputs</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>collapsed</td>
            <td><kbd>boolean</kbd></td>
            <td>Toggles the collapsed state of the filter component. Defaults to false.</td>
          </tr>
          <tr>
            <td>filters</td>
            <td><kbd>IFilterConfig[]</kbd></td>
            <td>An array of filter configurations</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="hx-columns">
      <div class="hx-column">
        <table class="hx-table is-striped">
          <thead>
          <tr>
            <th>Outputs</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>onFilterOptionChanged$</td>
            <td><kbd>Observable</kbd></td>
            <td>Observable that returns the FilterModel of the changed filter</td>
          </tr>
          <tr>
            <td>filters</td>
            <td><kbd>IFilterConfig[]</kbd></td>
            <td>An array of filter configurations</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <h5 class="is-primary">IFilterConfig</h5>
    <div class="hx-columns">
      <div class="hx-column">
        <table class="hx-table is-striped">
          <thead>
          <tr>
            <th>Property</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>id</td>
            <td><kbd>number</kbd></td>
            <td>Unique identifier</td>
          </tr>
          <tr>
            <td>type</td>
            <td><kbd>FilterType</kbd></td>
            <td>Filter type, can be SingleSelect, MultiSelect or Search</td>
          </tr>
          <tr>
            <td>label</td>
            <td><kbd>string</kbd></td>
            <td>Label used for display purposes.</td>
          </tr>
          <tr>
            <td>options</td>
            <td><kbd>IFilterOption[]</kbd></td>
            <td><span class="hx-badge is-info"><span class="hx-badge-content">OPTIONAL</span></span> Filter options for Single Select and MultiSelect types</td>
          </tr>
          <tr>
            <td>value</td>
            <td><kbd>string</kbd></td>
            <td><span class="hx-badge is-info"><span class="hx-badge-content">OPTIONAL</span></span> Filter value for Search filter type</td>
          </tr>

          <tr>
            <td>defaultIndex</td>
            <td><kbd>number</kbd></td>
            <td>Index of default filter option. The option to set when filters are cleared.</td>
          </tr>

          <tr>
            <td>width</td>
            <td><kbd>number</kbd></td>
            <td>Width in REM for Search filter type.</td>
          </tr>

          <tr>
            <td>disabled</td>
            <td><kbd>boolean</kbd></td>
            <td>Disabled state of filter type</td>
          </tr>

          <tr>
            <td>hidden</td>
            <td><kbd>boolean</kbd></td>
            <td>Hidden state of filter type</td>
          </tr>

          <tr>
            <td>isLoading</td>
            <td><kbd>boolean</kbd></td>
            <td>Loading state of filter type. Displays preloader animation.</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <h5 class="is-primary">IFilterOption</h5>
    <div class="hx-columns">
      <div class="hx-column">
        <table class="hx-table is-striped">
          <thead>
          <tr>
            <th>Property</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>label</td>
            <td><kbd>string</kbd></td>
            <td>The label used for display purposes</td>
          </tr>
          <tr>
            <td>value</td>
            <td><kbd>any</kbd></td>
            <td>The value used when filter option selected</td>
          </tr>
          <tr>
            <td>selected</td>
            <td><kbd>boolean</kbd></td>
            <td>Used to determine if one or more options selected. Defaults to false.</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>

<aside *ngIf="contentsNav" class="hx-sidebar is-right is-active is-medium-width is-scrollable hx-bg-white">
  <ul class="hx-nav hx-nav-vertical">
    <li class="hx-nav-heading"><h6>Contents</h6></li>

    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#usage')"><span>Usage</span></a>
    </li>

    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#example')"><span>Examples</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#code')"><span>Code</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#api')"><span>API Reference</span></a>
    </li>

  </ul>
</aside>
