<section class="hx-section scrollable-y is-comfortable" #container>


    <h1 class="hx-title">Selectize</h1>
    <h2 class="hx-subtitle">An Angular wrapper for the popular selectize jQuery library</h2>


  <div class="hx-card not-scrollable">
    <div class="hx-card-content">
      <div class="hx-input-control">
        <div class="hx-select-control">
        <label for="" class="hx-label">Test(s) required <sup>*</sup></label>
            <hxa-selectize [config]="selectizeConfig" [options]="selectizeOptions"></hxa-selectize>
        </div>
      </div>
    </div>
  </div>

</section>
