# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/lib

# dependencies
/node_modules
/src/modules/node_modules
.ng_pkg_build

# IDEs and editors
*.iml
*.iws
*.ipr
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Optional eslint cache
.eslintcache

# misc
/.angular/cache
/.sass-cache
/connect.lock
/libpeerconnection.log
npm-debug.log
testem.log
/typings
documentation.json
*.log

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# css
*.css
*.css.map
