<app-page-base [items]="contents">
  <h1 class="hx-title">Time Picker</h1>
  <p class="hx-subtitle">
    The time picker is a form element that is used to select a time
  </p>
  <hr />

  <div class="hx-alert is-success is-inverse is-bordered">
    <span class="hx-icon-control mr-2">
      <i class="hx-icon is-medium icon-exclamation"></i>
    </span>
    This component is only available for version 11+.
    <div class="hx-spacer"></div>
  </div>

  <h2 id="usage">Usage</h2>
  <p>
    If not
    <a [routerLink]="'/install-guide'">importing all HXUI modules globally</a>,
    add <kbd>TimepickerModule</kbd> to imports in <kbd>AppModule</kbd> or
    <kbd>MyFeatureModule</kbd>.
  </p>

  <pre>
    <code 
      [highlight]="code.usage.text"
      [languages]="code.usage.lang"
    ></code>
  </pre>

  <hr />

  <h2 id="example">Examples</h2>
  <br />

  <form [formGroup]="form">
    <div class="hx-columns">
      <div class="hx-column is-half-tablet is-one-third-desktop">
        <kbd>meridian: true</kbd>
        <br />
        <kbd>size: medium</kbd>
        <hxa-timepicker
          formControlName="time"
          [meridian]="true"
        ></hxa-timepicker>
      </div>
      <div class="hx-column is-half-tablet is-one-third-desktop">
        <kbd>meridian: true</kbd>
        <br />
        <kbd>size: small</kbd>
        <hxa-timepicker
          formControlName="time"
          size="small"
          [meridian]="true"
        ></hxa-timepicker>
      </div>
      <div class="hx-column is-half-tablet is-one-third-desktop">
        <kbd>meridian: true</kbd>
        <br />
        <kbd>size: large</kbd>
        <hxa-timepicker
          formControlName="time"
          size="large"
          [meridian]="true"
        ></hxa-timepicker>
      </div>
      <div class="hx-column is-half-tablet is-one-third-desktop">
        <kbd>meridian: false</kbd>
        <br />
        <kbd>size: small</kbd>
        <hxa-timepicker
          formControlName="time"
          size="small"
          [meridian]="false"
        ></hxa-timepicker>
      </div>
      <div class="hx-column is-half-tablet is-one-third-desktop">
        <kbd>meridian: false</kbd>
        <br />
        <kbd>size: medium</kbd>
        <br />
        <kbd>spinners: false</kbd>
        <hxa-timepicker
          formControlName="time"
          [spinners]="false"
          [meridian]="false"
        ></hxa-timepicker>
      </div>
      <div class="hx-column is-half-tablet is-one-third-desktop">
        <kbd>meridian: false</kbd>
        <br />
        <kbd>size: medium</kbd>
        <br />
        <kbd>seconds: true</kbd>
        <hxa-timepicker
          formControlName="time"
          [seconds]="true"
          [meridian]="true"
        ></hxa-timepicker>
      </div>
    </div>
  </form>
  <div>
    <span>
      Form value object:
      <b>{{ form.get("time").value | json }}</b>
    </span>
  </div>

  <br />

  <hx-tabset>
    <hx-tab heading="Template">
      <pre>
        <code 
          [highlight]="code.egBasicHTML.text"
          [languages]="code.egBasicHTML.lang"
        ></code>
      </pre>
    </hx-tab>
    <hx-tab heading="Typescript">
      <pre>
        <code 
        [highlight]="code.egBasicTS.text"
        [languages]="code.egBasicTS.lang"
      ></code>
      </pre>
    </hx-tab>
  </hx-tabset>

  <hr />

  <h2 id="api">API reference</h2>
  <br />

  <h3 class="is-primary">TimepickerComponent</h3>
  <br />
  <div class="hx-columns">
    <div class="hx-column">
      <table class="hx-table is-striped">
        <thead>
          <tr>
            <th>Inputs</th>
            <th>Type</th>
            <th>Description</th>
            <th>Defaults</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>meridian</td>
            <td><kbd>boolean</kbd></td>
            <td>Whether to display 12H (true) or 24H (false) mode</td>
            <td><kbd>false</kbd></td>
          </tr>
          <tr>
            <td>spinners</td>
            <td><kbd>boolean</kbd></td>
            <td>If `true`, the spinners above and below inputs are visible.</td>
            <td><kbd>true</kbd></td>
          </tr>
          <tr>
            <td>seconds</td>
            <td><kbd>boolean</kbd></td>
            <td>If `true`, it is possible to select seconds.</td>
            <td><kbd>false</kbd></td>
          </tr>
          <tr>
            <td>hourStep</td>
            <td><kbd>number</kbd></td>
            <td>
              The number of hours to add/subtract when clicking hour spinners.
            </td>
            <td><kbd>1</kbd></td>
          </tr>
          <tr>
            <td>minuteStep</td>
            <td><kbd>number</kbd></td>
            <td>
              The number of minutes to add/subtract when clicking minute
              spinners.
            </td>
            <td><kbd>1</kbd></td>
          </tr>
          <tr>
            <td>secondStep</td>
            <td><kbd>number</kbd></td>
            <td>
              The number of seconds to add/subtract when clicking second
              spinners.
            </td>
            <td><kbd>1</kbd></td>
          </tr>
          <tr>
            <td>disabled</td>
            <td><kbd>boolean</kbd></td>
            <td>Whether the timepicker input is disabled</td>
            <td><kbd>false</kbd></td>
          </tr>
          <tr>
            <td>readonlyInputs</td>
            <td><kbd>boolean</kbd></td>
            <td>
              If `true`, the time-picker is readonly and can't be changed.
            </td>
            <td><kbd>false</kbd></td>
          </tr>
          <tr>
            <td>size</td>
            <td><kbd>'small' | 'medium' | 'large'</kbd></td>
            <td>The size of inputs and buttons.</td>
            <td><kbd>'medium'</kbd></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-page-base>
