<app-page-base [items]="contents">
  <h1 class="hx-title" style="padding-top: 1.5rem">Migrating to v13</h1>
  <p class="hx-subtitle">Upgrading from v11</p>
  <hr />

  <h2>Breaking changes</h2>
  <h3 id="date-picker">Date picker</h3>

  <p>
    Selector <kbd>hxa-datepicker-form</kbd> is <b>no longer available</b>.
    Please update references to <kbd>hxa-datepicker-input</kbd>.
  </p>

  <p>
    Output names have changed to align with
    <a
      href="https://angular.io/guide/styleguide"
      target="_blank"
      rel="noopener noreferrer"
    >
      Angular Style Guide</a
    >.
  </p>
  <ul>
    <li><kbd>onDateChange</kbd> → <kbd>dateChange</kbd></li>
    <li><kbd>onFocus</kbd> → <kbd>inputFocus</kbd></li>
  </ul>

  <p>
    <b>
      Keyboard navigation has been enhanced to improve component accessibility.
    </b>
    Markup and styling selectors have changed as a result. If you are overriding
    default styles, please review changes. Generally:
  </p>
  <ul>
    <li><kbd>hxa-datepicker-form</kbd> → <kbd>hxa-datepicker</kbd></li>
    <li>
      <kbd>hxa-datepicker-calendar</kbd> →
      <kbd>hxa-datepicker__overlay</kbd>
    </li>
    <li><kbd>hxa-datepicker-</kbd> → <kbd>hxa-datepicker-calendar</kbd></li>
    <li>
      <kbd>hx-datepicker-set-interval</kbd> →
      <kbd>hxa-datepicker-interval</kbd>
    </li>
  </ul>

  <p>Default input mask pattern has been updated.</p>
  <ul>
    <li><kbd>'d0/M0/0000'</kbd> → <kbd>'00/00/0000'</kbd></li>
  </ul>

  <p>
    The following properties have been removed from
    <kbd>DatePickerConfig</kbd>:
  </p>
  <ul>
    <li><kbd>tabSelected</kbd></li>
    <li><kbd>selectedDueDateConfiguration</kbd></li>
  </ul>

  <h3 id="selectize">Selectize</h3>

  <p>
    This previously-deprecated component is now removed from the library. Please
    migrate to <kbd>ng-select</kbd> if you have not already done so.
  </p>
</app-page-base>
