<section class="hx-section scrollable-y" #container>
  <div class="hx-section is-comfortable">

    <h1 class="hx-title">Line Clamp</h1>
    <h2 class="hx-subtitle">The line clamp component will clamp both text & html content with a specified number of rows.</h2>
    <hr>

    <h4 id="usage">Usage</h4>
    <p>Add the LineClampModule to AppModule or SharedModule.</p>

    <pre>
      <code [highlight]="code.usage"></code>
    </pre>

    <hr>

    <h4 id="example">Example</h4>

    <div class="hx-columns">
      <div class="hx-column">

        <hxa-line-clamp row="3">
          <div #content>
            test<br>
            test<br>
            test<br>
            test
          </div>
        </hxa-line-clamp>

        <br>

        <hxa-line-clamp row="2">
          <div #content>
            test<br>
            test
          </div>
        </hxa-line-clamp>

        <br>

        <hxa-line-clamp row="2">
          <div #content style="color: red">
            {{message}}
          </div>
        </hxa-line-clamp>

      </div>
    </div>

    <br>

    <h5 id="code">Code</h5>

    <div class="hx-columns">
      <div class="hx-column">

        <hx-tabset>
          <hx-tab heading="Template">
            <pre>
              <code [highlight]="code.exampleTemplate"></code>
            </pre>
          </hx-tab>
          <hx-tab heading="Typescript">
            <pre>
              <code [highlight]="code.exampleTypescript"></code>
            </pre>
          </hx-tab>
        </hx-tabset>
      </div>
    </div>

    <hr>

    <h4 id="api">API Reference</h4>


    <div class="hx-columns">
      <div class="hx-column">
        <h5 class="is-primary">LineClampComponent</h5>

        <table class="hx-table  is-striped">
          <thead>
          <tr>
            <th>Input</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>row</td>
            <td><kbd>number</kbd></td>
            <td>The number of rows that should be displayed before clamping</td>
          </tr>
          <tr>
            <td>toggleCss</td>
            <td><kbd>String</kbd></td>
            <td>Add 1 or more css class names to the toggle link/button</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>
</section>

<aside *ngIf="contentsNav" class="hx-sidebar is-right is-active is-medium-width is-scrollable hx-bg-white">
  <ul class="hx-nav hx-nav-vertical">
    <li class="hx-nav-heading">
      <h6>Contents</h6>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#usage')"><span>Usage</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#example')"><span>Examples</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#code')"><span>Code</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#api')"><span>API Reference</span></a>
    </li>
  </ul>
</aside>
