<app-page-base [items]="contents">
  <h1 class="hx-title">Text Input</h1>
  <p class="hx-subtitle">
    Text input directive that adds a little more than what CSS can offer
  </p>
  <hr />

  <h2 id="usage">Usage</h2>
  <p>Add the TextInputModule to AppModule or SharedModule.</p>

  <pre>
    <code 
      [highlight]="code.usage.text"
      [languages]="code.usage.lang"
    ></code>
  </pre>

  <hr />

  <h2 id="example">Examples</h2>

  <div class="hx-columns">
    <div class="hx-column">
      <eg-basic-text-input></eg-basic-text-input>
    </div>
  </div>

  <br />

  <div class="hx-columns">
    <div class="hx-column">
      <hx-tabset>
        <hx-tab heading="Template">
          <pre>
            <code 
              [highlight]="code.egBasicHTML.text"
              [languages]="code.egBasicHTML.lang"
            ></code>
          </pre>
        </hx-tab>
      </hx-tabset>
    </div>
  </div>
</app-page-base>
