<section class="hx-section scrollable-y" #container>
  <div class="hx-section is-comfortable">

    <h1 class="hx-title">Tooltips</h1>
    <h2 class="hx-subtitle">The tooltip component is a message component which appears when a cursor is positioned over an icon, image, hyperlink, or other element.</h2>
    <hr>

    <h4 id="usage">Usage</h4>
    <p>Add the TooltipsModule to AppModule or SharedModule.</p>

    <pre>
      <code highlight [code]="code.usage"></code>
    </pre>

    <hr>

    <h4 id="example">Example</h4>

    <div class="hx-columns">
      <div class="hx-column">

        <p>Here is an example of a link with a tooltip that has a top placement
          <a href="#" hxTooltip="my tooltip message is here" [disabled]="false" [animation]="true" placement="top">tooltip</a>. You can also have tooltips appear on the
          <a href="#" hxTooltip="my tooltip showing on the right" [disabled]="false" [animation]="true" placement="right">right</a> or on the
          <a href="#" hxTooltip="my tooltip showing on the left" [disabled]="false" [animation]="true" placement="left">left</a>.
        </p>

        <p>You can also add styles, dynamic html content to a tooltip and have it show while hovering over a
          <hx-tooltip-content #myTooltip [animation]="true" placement="left">
            <b>Very</b> <span class="is-danger">Dynamic</span> <span class="is-text-capitalise is-primary">Reusable</span>
            <b><i><span class="is-warning">Tooltip With</span></i></b> <small>Html support</small>.
          </hx-tooltip-content>
          <button class="hx-button is-primary is-small" [hxTooltip]="myTooltip">Button</button>.
        </p>

        <p>You can set the context (colour) of the tooltip to
          <a href hxTooltip="Success!" [animation]="true" placement="bottom" [context]="contextEnum.Success">success</a>,
          <a href hxTooltip="Warning!" [animation]="true" placement="bottom" [context]="contextEnum.Warning">warning</a>, or
          <a href hxTooltip="Danger!" [animation]="true" placement="bottom" [context]="contextEnum.Danger">danger</a>.
        </p>

        <hr>

        <p>You can also have dynamic content in your <a href="#" [hxTooltip]="dynamicContentTooltip">tooltips</a>.</p>
        <div class="hx-input-control">
          <input class="hx-input" type="text" [(ngModel)]="dynamicTooltipText" name="dynamicTooltipText" [hxTooltip]="dynamicContentTooltip" required>
          <label class="hx-label">Tooltip text <sup>*</sup></label>
          <div class="hx-help">Please enter some text</div>
        </div>

        <hx-tooltip-content #dynamicContentTooltip [animation]="true" placement="top">
          {{dynamicTooltipText}}
        </hx-tooltip-content>.

      </div>
    </div>

    <br>

    <h5 id="code">Code</h5>

    <div class="hx-columns">
      <div class="hx-column">

        <hx-tabset>
          <hx-tab heading="Template">
            <pre>
              <code highlight [code]="code.exampleTemplate"></code>
            </pre>
          </hx-tab>
          <hx-tab heading="Typescript">
            <pre>
              <code highlight [code]="code.exampleTypescript"></code>
            </pre>
          </hx-tab>
        </hx-tabset>
      </div>
    </div>

    <hr>

    <h4 id="api">API Reference</h4>


    <div class="hx-columns">
      <div class="hx-column">
        <h5 class="is-primary">TooltipContentComponent</h5>

        <table class="hx-table  is-striped">
          <thead>
            <tr>
              <th>Input</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>hostElement</td>
              <td><kbd>HTMLElement</kbd></td>
              <td>the element that will call this component to show</td>
            </tr>
            <tr>
              <td>content</td>
              <td><kbd>String</kbd></td>
              <td>the content that shows inside the tooltip</td>
            </tr>
            <tr>
              <td>placement</td>
              <td><kbd>String</kbd></td>
              <td>place the tooltip either top|bottom|left|right</td>
            </tr>
            <tr>
            <td>context</td>
              <td><kbd>Enum</kbd></td>
              <td>set the context (colour) to either Success|Warning|Danger|None</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="hx-columns">
      <div class="hx-column">
        <h5 class="is-primary">TooltipDirective</h5>

        <table class="hx-table is-striped">
          <thead>
            <tr>
              <th>Input</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>content</td>
              <td><kbd>String</kbd></td>
              <td>the content that shows inside the tooltip</td>
            </tr>
            <tr>
              <td>disabled</td>
              <td><kbd>Boolean</kbd></td>
              <td>disable the tooltip or not</td>
            </tr>
            <tr>
              <td>placement</td>
              <td><kbd>String</kbd></td>
              <td>place the tooltip either top|bottom|left|right</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>

<aside class="hx-sidebar is-right is-active is-medium-width is-scrollable hx-bg-white">
  <ul class="hx-nav hx-nav-vertical">
    <li class="hx-nav-heading">
      <h6>Contents</h6>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#usage')"><span>Usage</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#example')"><span>Examples</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#code')"><span>Code</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#api')"><span>API Reference</span></a>
    </li>
  </ul>
</aside>
