.datepicker {
    &__form {
        position: relative;
        max-width: 21rem;
    }

    &__calendar {
        position: absolute;
        z-index: 99;

        &--top {
            bottom: 100%;
        }

        &--bottom {
            top: 70%;
        }

        left: 0;
    }

    &__help {
        font-size: .75rem;
        margin-top: .25rem;
        color: #63605f;
    }
}

.datepicker__form input[readonly] ~ .hx-label {
    top: -.5rem;
    font-size: .75rem;
    color: #41b987;
}