<div class="hx-input-group datepicker__form">
  <div class="hx-input-control" [ngClass]="{'is-danger': !isValid}">
    <input class="hx-input" type="text" required #datePickerForm
    [value]="date | date:dateFormat"
    (change)="onChange(datePickerForm.value)"
    (focus)="onFocus()"
    (keydown.Tab)="onTab(datePickerForm.value)"
    [disabled]="disabled"
    [readonly]="readonly ? true : null">
    <label class="hx-label">{{placeholder}} <sup>*</sup></label>
    <div class="hx-help"></div>
    <div class="datepicker__help">Please select a date</div>
  </div>
  <i class="hx-icon icon-calendar"></i>
  <hx-datepicker class="datepicker__calendar" *ngIf="visible" [selectedDate]="date"
   (onDateSelected)="onDateSelectEvent($event)"
   [ngClass]="{'datepicker__calendar--top': align == 'top', 'datepicker__calendar--bottom': align == 'bottom'}"></hx-datepicker>
</div>