<section class="hx-section scrollable-y" #container>
  <div class="hx-section is-comfortable">

    <h1 class="hx-title">Typeaheads</h1>
    <h2 class="hx-subtitle">A typeahead is a suggestive search component.</h2>
    <hr>

    <h4 id="usage">Usage</h4>
    <p>Add the TypeaheadsModule to AppModule or SharedModule.</p>

    <pre>
      <code highlight [code]="code.usage"></code>
    </pre>

    <hr>

    <h4 id="example">Example</h4>

    <div class="hx-columns">
      <div class="hx-column">

        <div class="hx-input-control">
          <input class="hx-input" type="text" [(ngModel)]="selected" [typeahead]="states" required>
          <label class="hx-label"><i class="icon icon-search is-small"></i> Medications</label>
          <div class="hx-help">Search for medication names</div>
        </div>

      </div>
    </div>

    <br>

    <h5 id="code">Code</h5>

    <div class="hx-columns">
      <div class="hx-column">

        <hx-tabset>
          <hx-tab heading="Template">
            <pre>
              <code highlight [code]="code.exampleTemplate"></code>
            </pre>
          </hx-tab>
          <hx-tab heading="Typescript">
            <pre>
              <code highlight [code]="code.exampleTypescript"></code>
            </pre>
          </hx-tab>
        </hx-tabset>
      </div>
    </div>

    <hr>

    <h4 id="api">API Reference</h4>


    <div class="hx-columns">
      <div class="hx-column">
        <h5 class="is-primary">TypeaheadDirective</h5>
        <table class="hx-table is-striped">
          <thead>
            <tr>
              <th>Inputs</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>container</td>
              <td><kbd>string</kbd></td>
              <td>A selector specifying the element the typeahead should be appended to.<br> Currently only supports "body".</td>
            </tr>
            <tr>
              <td>optionsListTemplate</td>
              <td><kbd>TemplateRef&lt;any&gt;</kbd></td>
              <td>used to specify a custom options list template. Template variables: matches, itemTemplate, query</td>
            </tr>
            <tr>
              <td>typeahead</td>
              <td><kbd>any</kbd></td>
              <td>options source, can be Array of strings, objects or an Observable for external matching process</td>
            </tr>
            <tr>
              <td>typeaheadAsync</td>
              <td><kbd>boolean</kbd></td>
              <td>should be used only in case of typeahead attribute is array. If true - loading of options will be async, otherwise - sync. true make sense if options array is large.</td>
            </tr>
            <tr>
              <td>typeaheadGroupField</td>
              <td><kbd>string</kbd></td>
              <td>when options source is an array of objects, the name of field that contains the group value, matches are grouped by this field when set.</td>
            </tr>
            <tr>
              <td>typeaheadItemTemplate</td>
              <td><kbd>TemplateRef&lt;any&gt;</kbd></td>
              <td>used to specify a custom item template. Template variables exposed are called item and index;</td>
            </tr>
            <tr>
              <td>typeaheadLatinize</td>
              <td><kbd>boolean</kbd></td>
              <td>match latin symbols. If true the word súper would match super and vice versa.</td>
            </tr>
            <tr>
              <td>typeaheadMinLength</td>
              <td><kbd>number</kbd></td>
              <td>minimal no of characters that needs to be entered before typeahead kicks-in. When set to 0, typeahead shows on focus with full list of options (limited as normal by typeaheadOptionsLimit)</td>
            </tr>
            <tr>
              <td>typeaheadOptionField</td>
              <td><kbd>string</kbd></td>
              <td>when options source is an array of objects, the name of field that contains the options value, we use array item as option in case of this field is missing. Supports nested properties and methods.</td>
            </tr>
            <tr>
              <td>typeaheadOptionsLimit</td>
              <td><kbd>number</kbd></td>
              <td>maximum length of options items list</td>
            </tr>
            <tr>
              <td>typeaheadPhraseDelimiters</td>
              <td><kbd>string</kbd></td>
              <td>should be used only in case typeaheadSingleWords attribute is true. Sets the word delimiter to match exact phrase. Defaults to simple and double quotes.</td>
            </tr>
            <tr>
              <td>typeaheadSingleWords</td>
              <td><kbd>boolean</kbd></td>
              <td>break words with spaces. If true the text "exact phrase" here match would match with match exact phrase here but not with phrase here exact match (kind of "google style"). </td>
            </tr>
            <tr>
              <td>typeaheadWaitMs</td>
              <td><kbd>number</kbd></td>
              <td>minimal wait time after last character typed before typeahead kicks-in</td>
            </tr>
            <tr>
              <td>typeaheadWordDelimiters</td>
              <td><kbd>string</kbd></td>
              <td>should be used only in case typeaheadSingleWords attribute is true. Sets the word delimiter to break words. Defaults to space. </td>
            </tr>
          </tbody>
        </table>

        <table class="hx-table is-striped">
          <thead>
            <tr>
              <th>Outputs</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>typeaheadLoading</td>
              <td>fired when 'busy' state of this component was changed, fired on async mode only, returns boolean</td>
            </tr>
            <tr>
              <td>typeaheadNoResults</td>
              <td>fired on every key event and returns true in case of matches are not detected</td>
            </tr>
            <tr>
              <td>typeaheadOnBlur</td>
              <td>fired when blur event occurres. returns the active item</td>
            </tr>
            <tr>
              <td>typeaheadOnSelect</td>
              <td>fired when option was selected, return object with data of this option</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>

<aside *ngIf="contentsNav" class="hx-sidebar is-right is-active is-medium-width is-scrollable hx-bg-white">
  <ul class="hx-nav hx-nav-vertical">
    <li class="hx-nav-heading">
      <h6>Contents</h6></li>

    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#usage')"><span>Usage</span></a>
    </li>

    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#example')"><span>Examples</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#code')"><span>Code</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#api')"><span>API Reference</span></a>
    </li>

  </ul>
</aside>
