<app-page-base [items]="contents">
  <h1 class="hx-title">Dropdowns</h1>
  <p class="hx-subtitle">
    Dropdowns are toggleable, contextual overlays for displaying lists of links
    and more. They are activated by click and not hover.
  </p>
  <hr />

  <h2 id="usage">Usage</h2>
  <p>Add the DropdownModule to AppModule or SharedModule.</p>

  <pre>
    <code 
      [highlight]="code.usage.text"
      [languages]="code.usage.lang"
    ></code>
  </pre>

  <p>If lazy-loaded, add the following to the LazyFeatureModule.</p>

  <pre>
    <code 
      [highlight]="code.usageLazy.text"
      [languages]="code.usage.lang"
    ></code>
  </pre>

  <hr />

  <h2 id="example-basic">Basic Example</h2>

  <div class="hx-columns">
    <div class="hx-column">
      <div class="hx-dropdown" hxDropdown [autoClose]="true">
        <button class="hx-button" hxDropdownToggle type="button">
          <span>Dropdown</span>
          <span class="hx-icon-control"
            ><i class="icon icon-caret-down"></i
          ></span>
        </button>
        <div class="hx-dropdown-menu" *hxDropdownMenu>
          <div class="hx-dropdown-header">Dropdown header</div>
          <a class="hx-dropdown-item" hxDropdownItem>Action</a>
          <a class="hx-dropdown-item" hxDropdownItem>Another action</a>
          <div class="hx-dropdown-divider"></div>
          <a class="hx-dropdown-item" hxDropdownItem>Action</a>
          <a class="hx-dropdown-item" hxDropdownItem>Another action</a>
        </div>
      </div>
    </div>
  </div>

  <div class="hx-columns">
    <div class="hx-column">
      <pre>
        <code
          [highlight]="code.egBasic.text"
          [languages]="code.egBasic.lang"
        ></code>
      </pre>
    </div>
  </div>

  <hr />

  <h2 id="example-max-width">Max width relative to element</h2>
  <p>
    By default the dropdown menu width responds to its contents. In mose cases
    you can limit the width by appending the <code>.is-limited-width</code> css
    modifier, however in other instances you may want the dropdown menu to have
    the same width as a parent container.
  </p>

  <p>
    The <code>maxWidthRelativeTo</code> input allows you to do exactly this.<br />
    Specify the element id and the dropdown component will do the rest.
  </p>

  <div class="hx-columns">
    <div class="hx-column">
      <div class="hx-card" id="parentEl">
        <div class="hx-card-content">
          <div class="hx-dropdown" hxDropdown maxWidthRelativeTo="parentEl">
            <button
              class="hx-button hx-button-dropdown"
              hxDropdownToggle
              type="button"
            >
              <span>Dropdown</span>
              <span class="hx-icon-control"
                ><i class="icon icon-caret-down"></i
              ></span>
            </button>
            <div class="hx-dropdown-menu is-text-ellipsed" *hxDropdownMenu>
              <a class="hx-dropdown-item" hxDropdownItem>Drop down item</a>
              <a class="hx-dropdown-item" hxDropdownItem>Drop down item</a>
              <a class="hx-dropdown-item" hxDropdownItem>Drop down item</a>
              <a class="hx-dropdown-item" hxDropdownItem
                >Drop down item that's really really really really really really
                really really really really really long.</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hx-column"></div>
  </div>

  <div class="hx-columns">
    <div class="hx-column">
      <pre>
        <code
          [highlight]="code.egMaxWidth.text"
          [languages]="code.egMaxWidth.lang"
        ></code>
      </pre>
    </div>
  </div>

  <hr />

  <h2 id="example-manual">Manual Trigger Example</h2>

  <div class="hx-columns">
    <div class="hx-column is-flex">
      <div
        class="hx-dropdown mr-1"
        hxDropdown
        #dropdown="hx-dropdown"
        [autoClose]="false"
        placement="top"
      >
        <button class="hx-button" hxDropdownToggle type="button">
          <span>Dropdown</span>
          <span class="hx-icon-control"
            ><i class="icon icon-caret-down"></i
          ></span>
        </button>
        <div class="hx-dropdown-menu" *hxDropdownMenu>
          <div class="hx-dropdown-header">Dropdown header</div>
          <a class="hx-dropdown-item" hxDropdownItem>Action</a>
          <a class="hx-dropdown-item" hxDropdownItem>Another action</a>
          <div class="hx-dropdown-divider"></div>
          <a class="hx-dropdown-item" hxaDropdownItem>Action</a>
          <a class="hx-dropdown-item" hxaDropdownItem>Another action</a>
        </div>
      </div>
      <button class="hx-button is-info mr-1" (click)="toggle($event)">
        Toggle
      </button>
      <button class="hx-button is-info mr-1" (click)="show($event)">
        Show
      </button>
      <button class="hx-button is-info" (click)="hide($event)">Hide</button>
    </div>
  </div>

  <br />

  <div class="hx-columns">
    <div class="hx-column">
      <hx-tabset>
        <hx-tab heading="Template">
          <pre>
            <code
              [highlight]="code.egManualTemplate.text"
              [languages]="code.egManualTemplate.lang"
            ></code>
          </pre>
        </hx-tab>
        <hx-tab heading="Component">
          <pre>
            <code 
              [highlight]="code.egManualComponent.text"
              [languages]="code.egManualTemplate.lang"
            ></code>
          </pre>
        </hx-tab>
      </hx-tabset>
    </div>
  </div>

  <hr />

  <h2 id="example-clip-path">Example with createClipPathMask</h2>

  <p>Allows interaction with the element that triggers the dropdown</p>

  <div class="hx-columns">
    <div class="hx-column">
      <div
        class="hx-dropdown"
        hxDropdown
        [autoClose]="true"
        [createClipPathMask]="true"
      >
        <div class="hx-input-control">
          <input
            hxTextInput
            hxDropdownToggle
            id="directions"
            type="text"
            class="hx-input"
            maxlength="320"
          />
          <label for="directions" class="hx-label">Directions</label>
          <div class="hx-help"></div>
        </div>

        <div class="hx-dropdown-menu" *hxDropdownMenu>
          <div class="hx-dropdown-header">Dropdown header</div>
          <a class="hx-dropdown-item" hxDropdownItem>Action</a>
          <a class="hx-dropdown-item" hxDropdownItem>Another action</a>
          <div class="hx-dropdown-divider"></div>
          <a class="hx-dropdown-item" hxDropdownItem>Action</a>
          <a class="hx-dropdown-item" hxDropdownItem>Another action</a>
        </div>
      </div>
    </div>
  </div>

  <div class="hx-columns">
    <div class="hx-column">
      <pre>
        <code 
          [highlight]="code.egClip.text"
          [languages]="code.egClip.lang"
        ></code>
      </pre>
    </div>
  </div>

  <hr />

  <h2 id="api">API Reference</h2>

  <h3 class="is-primary">DropdownDirective</h3>
  <div class="hx-columns">
    <div class="hx-column">
      <table class="hx-table is-striped">
        <thead>
          <tr>
            <th>Inputs</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>autoClose</td>
            <td><kbd>boolean</kbd></td>
            <td>
              Indicates that dropdown will be closed on item or document click,
              and after pressing ESC
            </td>
          </tr>
          <tr>
            <td>isDisabled</td>
            <td><kbd>boolean</kbd></td>
            <td>Disables dropdown toggle and hides dropdown menu if opened</td>
          </tr>
          <tr>
            <td>isOpen</td>
            <td><kbd>boolean</kbd></td>
            <td>Returns whether or not the popover is currently being shown</td>
          </tr>
          <tr>
            <td>placement</td>
            <td><kbd>string</kbd></td>
            <td>
              Placement of a popover. Accepts: "top", "bottom", "left", "right"
            </td>
          </tr>
          <tr>
            <td>maxWidthRelativeTo</td>
            <td><kbd>string</kbd></td>
            <td>
              The element id of the element the dropdown should get it's max
              width from
            </td>
          </tr>
          <tr>
            <td>minWidthRelativeTo</td>
            <td><kbd>string</kbd></td>
            <td>
              The element id of the element the dropdown should get it's min
              width from
            </td>
          </tr>
          <tr>
            <td>createClipPathMask</td>
            <td><kbd>boolean</kbd></td>
            <td>
              Creates clip-path mask in the backdrop overlay, which allows
              interaction with the element that triggered the dropdown
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="hx-columns">
    <div class="hx-column">
      <table class="hx-table is-striped">
        <thead>
          <tr>
            <th>Outputs</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>isOpenChange</td>
            <td>Emits an event when isOpen change</td>
          </tr>
          <tr>
            <td>onHidden</td>
            <td>Emits an event when the popover is hidden</td>
          </tr>
          <tr>
            <td>onShown</td>
            <td>Emits an event when the popover is shown</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="hx-columns">
    <div class="hx-column">
      <table class="hx-table is-striped">
        <thead>
          <tr>
            <th>Methods</th>
            <th>Return Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>show()</td>
            <td><kbd>void</kbd></td>
            <td>
              Opens an element's dropdown. This is considered a “manual”
              triggering of the dropdown.
            </td>
          </tr>
          <tr>
            <td>hide()</td>
            <td><kbd>void</kbd></td>
            <td>
              Closes an element's dropdown. This is considered a “manual”
              triggering of the dropdown.
            </td>
          </tr>
          <tr>
            <td>toggle(value:boolean)</td>
            <td><kbd>void</kbd></td>
            <td>
              Toggles an element's dropdown. This is considered a “manual”
              triggering of the dropdown.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-page-base>
