<app-page-base [items]="contents">
  <h1 class="hx-title">
    Toast
    <span class="text-sub">(Ngx-toastr)</span>
  </h1>
  <p class="hx-subtitle">
    A
    <a
      href="https://ngx-toastr.vercel.app/"
      target="_blank"
      rel="noopener noreferrer"
      >3rd-party</a
    >
    notification component.
  </p>

  <hr />

  <div class="hx-alert is-success is-inverse is-bordered">
    <span class="hx-icon-control mr-2">
      <i class="hx-icon is-medium icon-exclamation"></i>
    </span>
    <span> This component is only available for version 11+. </span>
    <div class="hx-spacer"></div>
  </div>

  <h2 id="install">Installation</h2>
  <p>To install ngx-toastr via npm run the following.</p>

  <pre>
    <code 
      [highlight]="code.install.text"
      [languages]="code.install.lang"
    ></code>
  </pre>

  <hr />

  <h2 id="usage">Usage</h2>
  <p>Import the scss file to your project.</p>

  <pre>
    <code 
      [highlight]="code.import.text"
      [languages]="code.import.lang"
    ></code>
  </pre>

  <p>Add the ToastrModule to AppModule or SharedModule.</p>

  <pre>
    <code 
      [highlight]="code.usage.text"
      [languages]="code.usage.lang"
    ></code>
  </pre>

  <hr />

  <h2 id="example">Examples</h2>

  <eg-basic-toast></eg-basic-toast>

  <br />

  <div class="hx-columns">
    <div class="hx-column">
      <hx-tabset>
        <hx-tab heading="Template">
          <pre>
            <code 
              [highlight]="code.egBasicHTML.text"
              [languages]="code.egBasicHTML.lang"
            ></code>
          </pre>
        </hx-tab>
        <hx-tab heading="Typescript">
          <pre>
            <code 
              [highlight]="code.egBasicTS.text"
              [languages]="code.egBasicTS.lang"
            ></code>
          </pre>
        </hx-tab>
      </hx-tabset>
    </div>
  </div>

  <hr />

  <h2 id="api">API reference</h2>

  <div class="hx-columns mt-2">
    <div class="hx-column">
      <div class="hx-alert is-info is-inverse">
        <span class="hx-icon-control mr-2">
          <i class="hx-icon is-medium icon-information"></i>
        </span>
        <span class="hx-flex-1">
          For a full list of examples and API references, view the
          <a
            href="https://ngx-toastr.vercel.app/"
            target="_blank"
            rel="noopener noreferrer"
          >
            Ngx-toastr documentation </a
          >.
        </span>
      </div>
    </div>
  </div>
</app-page-base>
