<app-page-base [items]="contents">
  <h1 class="hx-title">Auto Grow</h1>
  <p class="hx-subtitle">
    Allows a textarea form element to auto grow based on it's contents
  </p>
  <hr />

  <h2 id="usage">Usage</h2>
  <p>Add the AutoGrowModule to AppModule or SharedModule.</p>

  <pre>
    <code 
      [highlight]="code.usage.text"
      [languages]="code.usage.lang"
    ></code>
  </pre>

  <hr />

  <h2 id="example-basic">Basic example</h2>
  <p>Type and hit enter to see how auto grow works</p>

  <div class="hx-columns">
    <div class="hx-column">
      <div class="hx-card">
        <div class="hx-card-content mt-8">
          <div class="hx-input-control">
            <textarea
              id="exampletextarea"
              name="textarea-sample"
              class="hx-textarea"
              placeholder="Placeholder text"
              autogrow
            ></textarea>
            <label for="exampletextarea" class="hx-label"
              >Textarea with Placeholder
            </label>
            <div class="hx-help">Textarea hint (if required)</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />

  <div class="hx-columns">
    <div class="hx-column">
      <pre>
        <code 
          [highlight]="code.egBasic.text"
          [languages]="code.egBasic.lang"
        ></code>
      </pre>
    </div>
  </div>
</app-page-base>
