<section class="hx-section scrollable-y" #container>
  <div class="hx-section is-comfortable">

    <h1 class="hx-title">Toastr</h1>
    <h2 class="hx-subtitle">Toastr component</h2>
    <hr>

    <h4 id="usage">Usage</h4>
    <p>Add the ToastrModule to AppModule or SharedModule.</p>

    <pre>
      <code [highlight]="code.usage"></code>
    </pre>

    <hr>

    <h4 id="example">Example</h4>

    <div class="hx-columns">
      <div class="hx-column">
        <button class="hx-button" (click)="showToast()">Show toasr</button>
      </div>
    </div>

    <br>

    <h5 id="code">Code</h5>

    <div class="hx-columns">
      <div class="hx-column">

        <hx-tabset>
          <hx-tab heading="Template">
            <pre>
              <code [highlight]="code.exampleTemplate"></code>
            </pre>
          </hx-tab>
        </hx-tabset>
      </div>
    </div>


  </div>
</section>

<aside *ngIf="contentsNav" class="hx-sidebar is-right is-active is-medium-width is-scrollable hx-bg-white">
  <ul class="hx-nav hx-nav-vertical">
    <li class="hx-nav-heading">
      <h6>Contents</h6>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#usage')"><span>Usage</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#example')"><span>Examples</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#code')"><span>Code</span></a>
    </li>
  </ul>
</aside>
