<div class="hx-page hx-flex">
  <main class="hx-page-body" highlight-js-content>
    <aside class="hx-sidebar is-minified has-blue-gradient">
      <!-- <div class="hx-sidebar-top hx-sidebar-brand">

      </div> -->
      <ul class="hx-nav hx-nav-vertical hx-flex-auto">
        <li class="hx-nav-item hx-nav-brand">
          <svg width="100%" height="100%" viewBox="0 0 1280 800" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
          <g transform="matrix(5.41222,0,0,5.41222,-3713.05,-1273.14)">
              <path d="M792.757,354.249L923.291,353.612L923.291,263.633L847.22,263.633L792.757,354.249Z" style="fill:none;"></path>
              <clipPath id="_clip1">
                  <path d="M792.757,354.249L923.291,353.612L923.291,263.633L847.22,263.633L792.757,354.249Z"></path>
              </clipPath>
              <g clip-path="url(#_clip1)">
                  <g transform="matrix(1,0,0,1,12.2136,-115.752)">
                      <path d="M880.568,380.703L880.568,436.543C880.568,442.871 879.22,448.35 876.525,452.979C873.83,457.608 869.962,461.133 864.923,463.555C859.884,465.977 853.927,467.188 847.052,467.188C836.662,467.188 828.478,464.492 822.502,459.102C816.525,453.711 813.478,446.328 813.361,436.953L813.361,380.703L834.044,380.703L834.044,437.364C834.279,446.7 838.615,451.367 847.052,451.367C851.31,451.367 854.533,450.196 856.72,447.852C858.908,445.508 860.002,441.7 860.002,436.426L860.002,380.703L880.568,380.703Z" style="fill:white;fill-rule:nonzero;"></path>
                      <rect x="888.806" y="380.703" width="20.508" height="85.313" style="fill:white;fill-rule:nonzero;"></rect>
                  </g>
              </g>
          </g>
          <g transform="matrix(5.41222,0,0,5.41222,-3703.27,-1273.14)">
              <path d="M856.216,246.63L684.689,246.63L684.689,354.249L789.385,354.249L856.216,246.63Z" style="fill:none;"></path>
              <clipPath id="_clip2">
                  <path d="M856.216,246.63L684.689,246.63L684.689,354.249L789.385,354.249L856.216,246.63Z"></path>
              </clipPath>
              <g clip-path="url(#_clip2)">
                  <g transform="matrix(1,0,0,1,12,0)">
                      <path d="M744.956,348.946L724.507,348.946L724.507,313.321L694.214,313.321L694.214,348.946L673.647,348.946L673.647,263.633L694.214,263.633L694.214,297.501L724.507,297.501L724.507,263.633L744.956,263.633L744.956,348.946Z" style="fill:white;fill-rule:nonzero;"></path>
                      <path d="M776.749,303.008L785.948,285.548L806.456,285.548L789.757,316.426L807.276,348.946L786.651,348.946L776.69,330.196L766.905,348.946L746.163,348.946L763.741,316.426L747.101,285.548L767.843,285.548L776.749,303.008Z" style="fill:white;fill-rule:nonzero;"></path>
                  </g>
              </g>
          </g>
          <g transform="matrix(1.2817,-2.04733,4.58742,2.87187,-2966.71,630.442)">
              <rect x="699.716" y="550.851" width="380.916" height="7.012" style="fill:white;"></rect>
          </g>
        </svg>
        </li>
        <li class="hx-nav-item">
          <a class="hx-nav-link" href="http://www.gethxui.com"><i class="icon icon-html-css"></i> <span>HTML &amp; CSS</span></a>
        </li>
        <li class="hx-nav-item">
          <a class="hx-nav-link is-active" href="http://angular.gethxui.com"><i class="icon icon-angular"></i>  <span>Angular</span></a>
        </li>
        <li class="hx-nav-item">
          <a class="hx-nav-link" href="#"><i class="icon icon-react"></i>  <span>React</span></a>
        </li>
        <li class="hx-nav-item">
          <a class="hx-nav-link" href="#"><i class="icon icon-vue"></i>  <span>Vue</span></a>
        </li>
      </ul>
      <ul class="hx-nav hx-nav-vertical is-bottom">
        <li class="hx-nav-item">
          <a class="hx-nav-link" href="#"><i class="icon icon-chat-bubble"></i>  <span>Feedback</span></a>
        </li>
      </ul>
    </aside>
    <div class="hx-sidebar is-medium-width is-scrollable">

      <ul class="hx-nav hx-nav-vertical">
        <li class="hx-nav-heading"><h6><span class="oi" data-glyph="home"></span> Getting started</h6></li>

        <li class="hx-nav-item">
          <a class="hx-nav-link" [routerLink]="['/welcome']" routerLinkActive="is-active"><span>Welcome</span></a>
        </li>

        <li class="hx-nav-item">
          <a class="hx-nav-link " [routerLink]="['/install-guide']" routerLinkActive="is-active"><span>Install Guide</span></a>
        </li>

      </ul>
      <hr>


      <ul class="hx-nav hx-nav-vertical">
        <li class="hx-nav-heading"><h6><span class="oi" data-glyph="puzzle-piece"></span> Components</h6></li>

        <li class="hx-nav-item">
          <a class="hx-nav-link " [routerLink]="['/dropdowns']" routerLinkActive="is-active"><span>Dropdowns</span></a>
        </li>

        <li class="hx-nav-item">
          <a class="hx-nav-link " [routerLink]="['/modals']" routerLinkActive="is-active"><span>Modals</span></a>
        </li>

        <li class="hx-nav-item">
          <a class="hx-nav-link " [routerLink]="['/tabs']" routerLinkActive="is-active"><span>Tabs</span></a>
        </li>

        <li class="hx-nav-item">
          <a class="hx-nav-link " [routerLink]="['/typeaheads']" routerLinkActive="is-active"><span>Typeaheads</span></a>
        </li>

        <li class="hx-nav-item">
          <a class="hx-nav-link " [routerLink]="['/tooltips']" routerLinkActive="is-active"><span>Tooltips</span></a>
        </li>

        <li class="hx-nav-item">
          <a class="hx-nav-link " [routerLink]="['/pagination']" routerLinkActive="is-active"><span>Pagination</span></a>
        </li>

        <li class="hx-nav-item">
          <a class="hx-nav-link " [routerLink]="['/tabular']" routerLinkActive="is-active"><span>Tabular</span></a>
        </li>

      </ul>
      <hr>

      <ul class="hx-nav hx-nav-vertical">
        <li class="hx-nav-heading"><h6><span class="oi" data-glyph="chat"></span> Feedback</h6></li>

        <li class="hx-nav-item">
          <a class="hx-nav-link " href="https://medicaldirector.visualstudio.com/MD%20Design/_workitems"><span>Give your feedback</span></a>
        </li>

      </ul>


    </div>
    <router-outlet></router-outlet>
  </main>
</div>
<hx-modal-placeholder></hx-modal-placeholder>

