<section class="hx-section scrollable-y" #container>
  <div class="hx-section is-comfortable">

    <h1 class="hx-title">Text Field</h1>
    <h2 class="hx-subtitle">Text field example</h2>
    <hr>

    <h4 id="usage">Usage</h4>
    <p>Add the TextFieldModule to AppModule or SharedModule.</p>

    <pre>
      <code highlight [code]="code.usage"></code>
    </pre>

    <hr>

    <h4 id="example">Example</h4>

    <div class="hx-columns">
      <div class="hx-column">


        <form [formGroup]="form" (submit)="submit()">

        <hxa-text-field>
          <div class="hx-input-control">
            <input class="hx-input" type="text" formControlName="firstname" required>
            <label class="hx-label">Firstname <sup>*</sup></label>
            <div class="hx-help">Info!</div>
          </div>
        </hxa-text-field>

        <hxa-text-field>
          <div class="hx-input-control">
            <input class="hx-input" type="text" value="John" required>
            <label class="hx-label">Test field with default value <sup>*</sup></label>
            <div class="hx-help">Info!</div>
          </div>
        </hxa-text-field>

        <hxa-text-field>
          <div class="hx-input-control">
            <input class="hx-input" type="text" formControlName="surname">
            <label class="hx-label">Surname </label>
            <div class="hx-help">Info!</div>
          </div>
        </hxa-text-field>


          <hxa-text-field>
            <div class="hx-input-control is-danger">
              <input class="hx-input" type="email" value="joe.chan@medicaldirector.com" required>
              <label class="hx-label">Email <sup>*</sup></label>
              <div class="hx-help">Danger!</div>
            </div>
          </hxa-text-field>

          <hxa-text-field>
            <div class="hx-input-control">
              <input class="hx-input" type="text" disabled placeholder="I am disabled" required>
              <label class="hx-label">This is Disabled</label>
              <div class="hx-help">Danger!</div>
            </div>
          </hxa-text-field>


          <hxa-text-field>
            <div class="hx-input-group">
              <i class="hx-icon icon-search"></i>
              <div class="hx-input-control">
                <input class="hx-input" type="text" required>
                <label class="hx-label">Search <sup>*</sup></label>
                <div class="hx-help">Please search by patient name</div>
              </div>
              <div class="hx-input-actions">
                <div class="hx-loader is-small"><div></div><div></div><div></div><div></div></div>
                <div class="hx-button-group">
                  <button class="hx-button is-flat"><span class="hx-icon-control"><i class="icon icon-close-empty"></i></span></button>
                  <button class="hx-button is-flat"><span class="hx-icon-control"><i class="icon icon-plus"></i></span></button>
                </div>
              </div>
            </div>
          </hxa-text-field>

          <hxa-text-field>
            <div class="hx-input-group">
              <i class="hx-icon icon-person"></i>
              <div class="hx-input-control">
                <input class="hx-input" type="text" value="JG001" required>
                <label class="hx-label">Username <sup>*</sup></label>
                <div class="hx-help">Please enter your username</div>
              </div>
              <i class="hx-icon icon-check-empty is-medium is-success"></i>
            </div>
          </hxa-text-field>


          <button type="submit" class="hx-button is-primary" >Submit</button>

        </form>

      </div>
    </div>

    <br>

    <h5 id="code">Code</h5>

    <div class="hx-columns">
      <div class="hx-column">

        <hx-tabset>
          <hx-tab heading="Template">
            <pre>
              <code highlight [code]="code.exampleTemplate"></code>
            </pre>
          </hx-tab>
          <hx-tab heading="Typescript">
            <pre>
              <code highlight [code]="code.exampleTypescript"></code>
            </pre>
          </hx-tab>
        </hx-tabset>
      </div>
    </div>

    <hr>

    <h4 id="api">API Reference</h4>


    <div class="hx-columns">
      <div class="hx-column">
        <h5 class="is-primary">TooltipContentComponent</h5>

        <table class="hx-table  is-striped">
          <thead>
          <tr>
            <th>Input</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>hostElement</td>
            <td><kbd>HTMLElement</kbd></td>
            <td>the element that will call this component to show</td>
          </tr>
          <tr>
            <td>content</td>
            <td><kbd>String</kbd></td>
            <td>the content that shows inside the tooltip</td>
          </tr>
          <tr>
            <td>placement</td>
            <td><kbd>String</kbd></td>
            <td>place the tooltip either top|bottom|left|right</td>
          </tr>
          <tr>
            <td>context</td>
            <td><kbd>Enum</kbd></td>
            <td>set the context (colour) to either Success|Warning|Danger|None</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="hx-columns">
      <div class="hx-column">
        <h5 class="is-primary">TooltipDirective</h5>

        <table class="hx-table is-striped">
          <thead>
          <tr>
            <th>Input</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>content</td>
            <td><kbd>String</kbd></td>
            <td>the content that shows inside the tooltip</td>
          </tr>
          <tr>
            <td>disabled</td>
            <td><kbd>Boolean</kbd></td>
            <td>disable the tooltip or not</td>
          </tr>
          <tr>
            <td>placement</td>
            <td><kbd>String</kbd></td>
            <td>place the tooltip either top|bottom|left|right</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>

<aside class="hx-sidebar is-right is-active is-medium-width is-scrollable hx-bg-white">
  <ul class="hx-nav hx-nav-vertical">
    <li class="hx-nav-heading">
      <h6>Contents</h6>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#usage')"><span>Usage</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#example')"><span>Examples</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#code')"><span>Code</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#api')"><span>API Reference</span></a>
    </li>
  </ul>
</aside>
