<app-page-base [items]="contents">
  <h1 class="hx-title">Pagination</h1>
  <p class="hx-subtitle">
    Provides pagination links for multi-page pagination.
  </p>

  <hr />

  <h2 id="usage">Usage</h2>
  <p>Add the PaginationModule to AppModule or SharedModule.</p>

  <pre>
    <code 
      [highlight]="code.usage.text"
      [languages]="code.usage.lang"
    ></code>
  </pre>

  <hr />

  <h2 id="examples">Examples</h2>

  <div class="hx-columns">
    <div class="hx-column">
      <hx-pagination
        [totalItems]="totalItems"
        [(ngModel)]="currentPage"
        (pageChanged)="pageChanged($event)"
      ></hx-pagination>
      <br />
      <hx-pagination
        [boundaryLinks]="true"
        [totalItems]="totalItems"
        [(ngModel)]="currentPage"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      ></hx-pagination>
      <br />
      <hx-pagination
        [directionLinks]="false"
        [boundaryLinks]="true"
        [totalItems]="totalItems"
        [(ngModel)]="currentPage"
      ></hx-pagination>
      <br />
      <hx-pagination
        [directionLinks]="true"
        [boundaryLinks]="true"
        [rotate]="false"
        [totalItems]="totalItems"
        [maxSize]="7"
        [(ngModel)]="currentPage"
      ></hx-pagination>
      <br />
      <hx-pagination
        [directionLinks]="false"
        [totalItems]="totalItems"
        [(ngModel)]="currentPage"
        (numPages)="smallnumPages = $event"
      ></hx-pagination>
      <br />
      <hx-pager
        [totalItems]="totalItems"
        [(ngModel)]="currentPage"
        (pageChanged)="pageChanged($event)"
        pageBtnClass="hx-button"
        itemsPerPage="10"
      ></hx-pager>
      <br />

      <div class="hx-flex hx-flex-justify-center">
        <div>
          <pre>The selected page no: {{currentPage}}/{{smallnumPages}}</pre>
          <button type="button" class="hx-button is-info" (click)="setPage(3)">
            Set current page to: 3
          </button>
        </div>
      </div>
    </div>
  </div>

  <br />

  <div class="hx-columns">
    <div class="hx-column">
      <hx-tabset>
        <hx-tab heading="Template">
          <pre>
            <code 
              [highlight]="code.egBasicHTML.text"
              [languages]="code.egBasicHTML.lang"
            ></code>
          </pre>
        </hx-tab>
        <hx-tab heading="Typescript">
          <pre>
            <code 
              [highlight]="code.egBasicTS.text"
              [languages]="code.egBasicTS.lang"
            ></code>
          </pre>
        </hx-tab>
      </hx-tabset>
    </div>
  </div>

  <hr />

  <h2 id="api">API reference</h2>

  <h3 class="is-primary">PaginationComponent</h3>
  <div class="hx-columns">
    <div class="hx-column">
      <table class="hx-table is-striped">
        <thead>
          <tr>
            <th>Input</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody></tbody>
        <tbody>
          <tr>
            <td>align</td>
            <td><kbd>boolean</kbd></td>
            <td>
              if <code class="noHighlight">true</code> aligns each link to the
              sides of pager
            </td>
          </tr>
          <tr>
            <td>boundaryLinks</td>
            <td><kbd>boolean</kbd></td>
            <td>
              if <code class="noHighlight">false</code> first and last buttons
              will be hidden
            </td>
          </tr>
          <tr>
            <td>directionLinks</td>
            <td><kbd>boolean</kbd></td>
            <td>
              if <code class="noHighlight">false</code> previous and next
              buttons will be hidden
            </td>
          </tr>
          <tr>
            <td>disabled</td>
            <td><kbd>boolean</kbd></td>
            <td>
              if <code class="noHighlight">true</code> pagination component will
              be disabled
            </td>
          </tr>
          <tr>
            <td>firstText</td>
            <td><kbd>string</kbd></td>
            <td>first button text</td>
          </tr>
          <tr>
            <td>itemsPerPage</td>
            <td><kbd>number</kbd></td>
            <td>
              maximum number of items per page. If value less than 1 will
              display all items on one page
            </td>
          </tr>
          <tr>
            <td>lastText</td>
            <td><kbd>string</kbd></td>
            <td>last button text</td>
          </tr>
          <tr>
            <td>maxSize</td>
            <td><kbd>number</kbd></td>
            <td>limit number for page links in pager</td>
          </tr>
          <tr>
            <td>nextText</td>
            <td><kbd>string</kbd></td>
            <td>next button text</td>
          </tr>
          <tr>
            <td>pageBtnClass</td>
            <td><kbd>string</kbd></td>
            <td>add class to</td>
          </tr>
          <tr>
            <td>previousText</td>
            <td><kbd>string</kbd></td>
            <td>previous button text</td>
          </tr>
          <tr>
            <td>rotate</td>
            <td><kbd>boolean</kbd></td>
            <td>
              if <code class="noHighlight">true</code> current page will in the
              middle of pages list
            </td>
          </tr>
          <tr>
            <td>sticky</td>
            <td><kbd>boolean</kbd></td>
            <td>
              if <code class="noHighlight">true</code> the
              <code class="noHighlight">.is-sticky</code> modifier will be added
              to the component
            </td>
          </tr>
          <tr>
            <td>totalItems</td>
            <td><kbd>number</kbd></td>
            <td>total number of items in all pages</td>
          </tr>
        </tbody>
      </table>

      <table class="hx-table is-striped">
        <thead>
          <tr>
            <th>Outputs</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>numPages</td>
            <td>
              fired when total pages count changes, $event:number equals to
              total pages count
            </td>
          </tr>
          <tr>
            <td>pageChanged</td>
            <td>
              fired when page was changed,
              <code class="noHighlight"
                >$event:{{ '{' }}page, itemsPerPage}</code
              >
              equals to object with current page index and number of items per
              page
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h3 class="is-primary">PagerComponent</h3>
  <div class="hx-columns">
    <div class="hx-column">
      <table class="hx-table is-striped">
        <thead>
          <tr>
            <th>Input</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>align</td>
            <td><kbd>boolean</kbd></td>
            <td>
              if <code class="noHighlight">true</code> aligns each link to the
              sides of pager
            </td>
          </tr>
          <tr>
            <td>boundaryLinks</td>
            <td><kbd>boolean</kbd></td>
            <td>
              if <code class="noHighlight">false</code> first and last buttons
              will be hidden
            </td>
          </tr>
          <tr>
            <td>directionLinks</td>
            <td><kbd>boolean</kbd></td>
            <td>
              if <code class="noHighlight">false</code> previous and next
              buttons will be hidden
            </td>
          </tr>
          <tr>
            <td>disabled</td>
            <td><kbd>boolean</kbd></td>
            <td>
              if <code class="noHighlight">true</code> pagination component will
              be disabled
            </td>
          </tr>
          <tr>
            <td>firstText</td>
            <td><kbd>string</kbd></td>
            <td>first button text</td>
          </tr>
          <tr>
            <td>itemsPerPage</td>
            <td><kbd>number</kbd></td>
            <td>
              maximum number of items per page. If value less than 1 will
              display all items on one page
            </td>
          </tr>
          <tr>
            <td>lastText</td>
            <td><kbd>string</kbd></td>
            <td>last button text</td>
          </tr>
          <tr>
            <td>maxSize</td>
            <td><kbd>number</kbd></td>
            <td>limit number for page links in pager</td>
          </tr>
          <tr>
            <td>nextText</td>
            <td><kbd>string</kbd></td>
            <td>next button text</td>
          </tr>
          <tr>
            <td>pageBtnClass</td>
            <td><kbd>string</kbd></td>
            <td>add class to</td>
          </tr>
          <tr>
            <td>previousText</td>
            <td><kbd>string</kbd></td>
            <td>previous button text</td>
          </tr>
          <tr>
            <td>rotate</td>
            <td><kbd>boolean</kbd></td>
            <td>
              if <code class="noHighlight">true</code> current page will in the
              middle of pages list
            </td>
          </tr>
          <tr>
            <td>totalItems</td>
            <td><kbd>number</kbd></td>
            <td>total number of items in all pages</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-page-base>
