<section class="hx-section scrollable-y" #container>
  <div class="hx-section is-comfortable">
    <h1 class="hx-title">Ngx-toastr</h1>
    <h2 class="hx-subtitle">
      Is a 3rd-party notification component called
      <a href="https://ngx-toastr.vercel.app/" target="_blank">ngx-toastr</a>
    </h2>

    <hr />

    <div class="hx-alert is-success is-inverse is-bordered">
      <span class="hx-icon-control mr-2">
        <i class="hx-icon is-medium icon-exclamation"></i>
      </span>
      <span>
        This component is only available for version 11.
      </span>
      <div class="hx-spacer"></div>
    </div>

    <h4 id="install">Install</h4>
    <p>To install ngx-toastr via npm run the following.</p>

    <pre>
      <code [highlight]="code.install"></code>
    </pre>

    <hr />

    <h4 id="import">Import</h4>
    <p>Import the scss file to your project.</p>

    <pre>
      <code [highlight]="code.import"></code>
    </pre>

    <hr />

    <h4 id="usage">Usage</h4>
    <p>Add the ToastrModule to AppModule or SharedModule.</p>

    <pre>
      <code [highlight]="code.usage"></code>
    </pre>

    <hr />

    <h4 id="examples">Default Examples</h4>

    <div class="hx-columns">
      <div class="hx-column">
        <button class="hx-button is-primary" (click)="showSuccess()">
          Show success
        </button>
      </div>
      <div class="hx-column">
        <button class="hx-button is-danger" (click)="showError()">
          Show error
        </button>
      </div>
      <div class="hx-column">
        <button class="hx-button is-warning" (click)="showWarning()">
          Show warning
        </button>
      </div>
      <div class="hx-column">
        <button class="hx-button is-info" (click)="showInfo()">
          Show info
        </button>
      </div>
    </div>

    <hr />

    <h4>With Titles Examples</h4>

    <p>Add an optional title to each toast</p>

    <div class="hx-columns">
      <div class="hx-column">
        <button class="hx-button is-primary" (click)="showSuccess('Success')">
          Show success
        </button>
      </div>
      <div class="hx-column">
        <button class="hx-button is-danger" (click)="showError('Error')">
          Show error
        </button>
      </div>
      <div class="hx-column">
        <button class="hx-button is-warning" (click)="showWarning('Warning')">
          Show warning
        </button>
      </div>
      <div class="hx-column">
        <button class="hx-button is-info" (click)="showInfo('Informative')">
          Show info
        </button>
      </div>
    </div>

    <br />

    <h5 id="codeexamples">Code</h5>

    <div class="hx-columns">
      <div class="hx-column">
        <hx-tabset>
          <hx-tab heading="Template">
            <pre>
              <code [highlight]="code.exampleTemplate"></code>
            </pre>
          </hx-tab>
          <hx-tab heading="Typescript">
            <pre>
              <code [highlight]="code.exampleTypescript"></code>
            </pre>
          </hx-tab>
        </hx-tabset>
      </div>
    </div>

    <hr />

    <h4 id="api">API Reference</h4>

    <div class="hx-columns mt-2">
      <div class="hx-column">
        <div class="hx-alert is-info is-inverse">
          <span class="hx-icon-control mr-2">
            <i class="hx-icon is-medium icon-information"></i>
          </span>
          <span class="hx-flex-1">
            For a full list of examples and API references, view the
            <a href="https://ngx-toastr.vercel.app/" target="_blank">
              Ngx-toastr documentation
            </a>.
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<aside
  *ngIf="contentsNav"
  class="hx-sidebar is-right is-active is-medium-width is-scrollable hx-bg-white"
>
  <ul class="hx-nav hx-nav-vertical">
    <li class="hx-nav-heading">
      <h6>Contents</h6>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#usage')"><span>Usage</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#examples')">
        <span>Examples</span>
      </a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#codeexamples')">
        <span>Code Examples</span>
      </a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#api')">
        <span>API Reference</span>
      </a>
    </li>
  </ul>
</aside>
