<section class="hx-section scrollable-y" #container>
  <div class="hx-section is-comfortable">

    <h1 class="hx-title">Tabular</h1>
    <h2 class="hx-subtitle">The tabular component is a table with sort, filter and pagination features baked in.</h2>

    <hr>

    <h4 id="usage">Usage</h4>
    <p>Add the TabularModule to AppModule or SharedModule.</p>

    <pre>
      <code highlight [code]="code.usage"></code>
    </pre>


    <hr>

    <h4 id="example">Example</h4>
    <p>Inline actions, multi-select with global actions, pagination and sorting.</p>
    <div class="hx-columns">
      <div class="hx-column">



        <div class="hx-toolbar is-small is-perforated">
           <span hxTooltip="Select 1 or more users" [disabled]="!isPrintDisabled()" placement="right">
             <button class="hx-button mr-1" (click)="printSelected($event)" [disabled]="isPrintDisabled()">
                <div class="hx-icon-control"><i class="hx-icon icon-printer-outline"></i></div>
                <div>Print</div>
              </button>
          </span>
            <button class="hx-button  mr-1" (click)="setCheckAllState(true)">Check All</button>
            <button class="hx-button" (click)="setCheckAllState(false)">Uncheck All</button>
            <div class="hx-divider"></div>
            <div><span class="is-info is-text-weight-bolder">{{totalSelected}}</span> of <span class="is-info is-text-weight-bolder">{{rowData.length}}</span><span class="is-text-weight-light"> items selected</span></div>
            <div class="hx-spacer"></div>
            <hxa-filters #filterComp [collapsed]="collapsed" [filters]="filters"></hxa-filters>
        </div>
        <hxa-tabular
          [rows]="rowData"
          [columns]="columnData"
          [config]="tabularConfig"
          [callback]="onActionClickHandler"
          (refresh)="refreshDataHandler($event)"
          (rowClick)="rowClickHandler($event)"
          (onSort)="onSortHandler($event)"
          (onCheck)="singleCheckHandler($event)"
          (onCheckAll)="groupCheckHandler($event)">
        </hxa-tabular>

      </div>
    </div>

    <br>

    <h5 id="code">Code</h5>

    <div class="hx-columns">
      <div class="hx-column">

        <hx-tabset>
          <hx-tab heading="Template">
            <pre>
              <code highlight [code]="code.exampleTemplate"></code>
            </pre>
          </hx-tab>
          <hx-tab heading="Component">
            <pre>
              <code highlight [code]="code.exampleComponent"></code>
            </pre>
          </hx-tab>

          <hx-tab heading="Service">
            <pre>
              <code highlight [code]="code.exampleService"></code>
            </pre>
          </hx-tab>

          <hx-tab heading="Mock Data">
            <pre>
              <code highlight [code]="code.exampleMockData"></code>
            </pre>
          </hx-tab>
          <hx-tab heading="User Model">
            <pre>
              <code highlight [code]="code.exampleUserModel"></code>
            </pre>
          </hx-tab>
        </hx-tabset>
      </div>
    </div>

    <hr>

    <h4 id="api">API Reference</h4>

    <div class="hx-columns">
      <div class="hx-column">
        <h5 class="is-primary">TabularComponent</h5>

        <table class="hx-table is-striped">
          <thead>
            <tr>
              <th>Input</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>columns</td>
              <td><kbd>TabularColumn[]</kbd></td>
              <td>Collection of column configurations</td>
            </tr>
            <tr>
              <td>rows</td>
              <td><kbd>ITabularRow[]</kbd></td>
              <td>Collection of models that implement the ITabularRow interface</td>
            </tr>
            <tr>
              <td>config</td>
              <td><kbd>ITabularConfig</kbd></td>
              <td>Configuration options for a tabular instance</td>
            </tr>
            <tr>
              <td>callback</td>
              <td><kbd>Function</kbd></td>
              <td>The function to call when an action route type is callback.</td>
            </tr>
          </tbody>
        </table>

        <br>

        <table class="hx-table is-striped">
          <thead>
            <tr>
              <th>Output</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>refresh</td>
              <td><kbd>EventEmitter</kbd></td>
              <td>Event fired when refresh is called. Host should refresh data of input.</td>
            </tr>
            <tr>
              <td>rowClick</td>
              <td><kbd>EventEmitter</kbd></td>
              <td>Event fired when a row is clicked.</td>
            </tr>
            <tr>
              <td>onSort</td>
              <td><kbd>EventEmitter: ISortByProperty[]</kbd></td>
              <td>Event fired when a column is sorted. </td>
            </tr>
            <tr>
              <td>onCheck</td>
              <td><kbd>EventEmitter: ITabularRow</kbd></td>
              <td>Event fired when a row checkbox is checked or unchecked. </td>
            </tr>
            <tr>
              <td>onCheckAll</td>
              <td><kbd>EventEmitter: boolean</kbd></td>
              <td>Event fired when the header checkbox is checked or unchecked. </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="hx-columns">
      <div class="hx-column">
        <h5 class="is-primary">TabularConfig</h5>

        <table class="hx-table is-striped">
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>config</td>
              <td><kbd>ITabularConfig</kbd></td>
              <td><pre><code highlight [code]="code.tabularConfig"></code></pre></td>
              <td>Configuration options for a tabular instance, ex: Pagination, size etc..</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="hx-columns">
      <div class="hx-column">
        <h5 class="is-primary">TabularColumn</h5>

        <table class="hx-table is-striped">
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>id</td>
              <td><kbd>string</kbd></td>
              <td>The property name in an array of objects passed in @input row. </td>
            </tr>
            <tr>
              <td>label</td>
              <td><kbd>string</kbd></td>
              <td>The column label, which will appear in the column header.</td>
            </tr>
            <tr>
              <td>dataType</td>
              <td><kbd>TabularColumnTypes</kbd></td>
              <td>
                <p>The supported column data types:</p>
                <pre><code highlight [code]="code.columnTypes"></code></pre>
                <p>Note: Value for the <kbd>badge column type</kbd> must be in the following format</p>
                <pre><code highlight [code]="code.badgeColumnType"></code></pre>
              </td>
            </tr>
            <tr>
              <td>cssClass</td>
              <td><kbd>string</kbd></td>
              <td><span class="hx-badge is-info"><span class="hx-badge-content">OPTIONAL</span></span> CSS class </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="hx-columns">
      <div class="hx-column">
        <h5 class="is-primary">ITabularRow</h5>

        <table class="hx-table is-striped">
          <thead>
          <tr>
            <th>Property</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>id</td>
            <td><kbd>number|string</kbd></td>
            <td> Set an ID property. It's optional unless you have a checkbox column.</td>
          </tr>
          <tr>
            <td>actions</td>
            <td><kbd>IActionsConfig[]</kbd></td>
            <td>Used to configure 1 or more actions</td>
          </tr>
          <tr>
            <td>checked</td>
            <td><kbd>boolean</kbd></td>
            <td>Used to control the checkbox checked state</td>
          </tr>
          <tr>
            <td>selected</td>
            <td><kbd>boolean</kbd></td>
            <td>Used to control the model selected state</td>
          </tr>
          <tr>
            <td>context</td>
            <td><kbd>Context</kbd></td>
            <td>Set context, default, danger, warning, success or info</td>
          </tr>
          <tr>
            <td>stripeContext</td>
            <td><kbd>Context</kbd></td>
            <td>Set stripe context, default, danger, warning, success or info</td>
          </tr>
          <tr>
            <td>cssClass</td>
            <td><kbd>string</kbd></td>
            <td>Add any css class names to each row.</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="hx-columns">
      <div class="hx-column">
        <h5 class="is-primary">IActionsConfig</h5>

        <table class="hx-table is-striped">
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>id</td>
              <td><kbd>number</kbd></td>
              <td>Unique identifier</td>
            </tr>
            <tr>
              <td>label</td>
              <td><kbd>string</kbd></td>
              <td>Label used for display purposes. Can be html for icons.</td>
            </tr>
            <tr>
              <td>css</td>
              <td><kbd>string</kbd></td>
              <td><span class="hx-badge is-info"><span class="hx-badge-content">OPTIONAL</span></span> Css class name to append to button.</td>
            </tr>
            <tr>
              <td>disabledConfig</td>
              <td><kbd>IDisabledInput</kbd></td>
              <td><span class="hx-badge is-info"><span class="hx-badge-content">OPTIONAL</span></span> Disable action option.</td>
            </tr>
            <tr>
              <td>routeType</td>
              <td><kbd>ActionConfigRouteType</kbd></td>
              <td>Route type, could be route by link or route by callback.</td>
            </tr>
            <tr>
              <td>route</td>
              <td><kbd>any[]</kbd></td>
              <td>Route to go to when clicked. RouteType must be ActionConfigRouteType.Route.</td>
            </tr>
            <tr>
              <td>callback</td>
              <td><kbd>Function</kbd></td>
              <td>Function to call when clicked. RouteType must be ActionConfigRouteType.Callback.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="hx-columns">
      <div class="hx-column">
        <h5 class="is-primary">IDisabledInput</h5>

        <table class="hx-table is-striped">
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>disabled</td>
              <td><kbd>boolean</kbd></td>
              <td>Toggle for disabled state</td>
            </tr>
            <tr>
              <td>tooltip</td>
              <td><kbd>string</kbd></td>
              <td>Messaged displayed in a tooltip when an action is disabled</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
</section>

<aside *ngIf="contentsNav" class="hx-sidebar is-right is-active is-medium-width is-scrollable hx-bg-white">
  <ul class="hx-nav hx-nav-vertical">
    <li class="hx-nav-heading">
      <h6>Contents</h6></li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#usage')"><span>Usage</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#example')"><span>Examples</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#code')"><span>Code</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#api')"><span>API Reference</span></a>
    </li>
  </ul>
</aside>
