$icons-path: '../node_modules/@hxui/css/static/static/fonts/';
@import '../node_modules/@hxui/css/static/static/scss/hxui.scss';


.helixLogo{
  width:2rem;
}

.hxui-logo{
  &.is-white use{
     fill:#fff;
  }
}

.tabular__Actions{
  width:10%;
}

code.hljs {
  border-radius: 0.25rem;
}





