
$icons-path: '../node_modules/@hxui/css/static/static/fonts/';
@import '../node_modules/@hxui/css/static/static/scss/hxui.scss';

/* Structural css needed for CDK to work correctly */
@import   '~@angular/cdk/overlay-prebuilt.css';
@import   '~@angular/cdk/a11y-prebuilt.css';
@import   '~@angular/cdk/text-field-prebuilt.css';

/* Ng-Select */
@import "../projects/ng-select/themes/hxui.theme.scss";
@import "../projects/ng-select/themes/legacy.theme.scss";

.helixLogo{
  width:2rem;
}

.hxui-logo{
  &.is-white use{
     fill:#fff;
  }
}

.tabular__Actions{
  width:10%;
}

code.hljs {
  border-radius: 0.25rem;
}

.hx-section {
  height:100vh;
}





